* {
    box-sizing: border-box; 
}


/* header */
header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}

/* hero */
.hero {
    padding: 0;
    margin: 0;
    height: 100vh;
}
    .hero-image {
        position: absolute;
        right: 0; left: 0; top: 0; bottom: 0;
        background-image: url(https://www.placemonkeys.com/1354/667);
        background-size: cover;
        background-position: center;
    }

/* receita */
.receita {
    padding: 70px 0;
    margin-left: -100px;
}
    .receita button {
        margin-top: 50px;
    }

    .receita img {
        margin-left: 80px;
    }
        .receita-text {
            justify-content: center;
            align-items: center;
            display: flex;
        }

    @media (max-width: 480px) {
        .receita {
            padding: 70px;
            margin-left: 0;
        }
    }

    .carousel{
     width: 950px;
        margin: 0 auto;
    }
    
/* navbar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-color: #FFF;
	border-bottom: 1px solid #CCC;
}

.menu {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	width: 75px;
	height: 75px;
	margin-top: 10px;
}

#bunker {
	width: 200px;
	height: 200px;
	margin-top: 25px;
}

.menu ul {
	float: right;
	
	line-height: 100px;
	margin: 0;
}

.menu ul li {
	list-style: none;
	float: left;
	margin: 0 15px;
}


#corpo {
	text-align: center;
	padding: 100px 0;
}

.wrapper {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/* footer */
footer {
	
	border-top: 5px solid green;
}


/* responsive */
@media screen and (max-width: 1024px) {
	#logo {
		position: absolute;
		left: 50px;
	}

	.menu ul {
		float: none;
		text-align: center;
		padding: 0;
	}

	.menu ul li {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		float: none;
		display: inline-block;
		margin: 0 10px;
	}


}



@media screen and (max-width: 576px) {

	.menu {
		display: block !important;
	}

	html, body {
	  overflow-x:hidden 
	} 

	nav {
		height: 4em;
	}

	#logo {
		left: 2em;
		height: 2em;
		width: 2em;
		margin-top: 1em;
	}

	.menu ul {
		position: relative;
		top: 4em;
		height: 3em;
		line-height: 3em;
		display: none;
	}

	.menu ul li {
		display: block;
		background-color: #FFF;
		margin: 0;
		border-top: 1px solid #CCC;
	}


	#corpo {
		padding: 5em 0;
	}
